<div class="container">
  <table class="table table-bordered table-inverse table-striped">
    <tr>
      <th>Member ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let member of members">
      <td>
        {{member.id}}
      </td>
      <td>
        {{member.firstName}}
      </td>
      <td>
        {{member.lastName}}
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteMember(member)">Del</button>
      </td>
    </tr>
  </table>
  <div class="text-center">
    <button type="button" class="btn btn-primary" routerLink="/newMemberEntry">Add Member</button>
  </div>
</div>